*.swp
*.swo

*~

.DS_Store
*.last-run
*.cache

sublime-settings/Color Highlighter/themes/*
sublime-settings/Package Control.merged-ca-bundle

bin-private
.bash_private

# My symlinks now include the entire .config/nvim so
# plugin installs are now dirtying the project
.config/nvim/bundle/
