[alias]
  # Ammend
  amend = commit --amend
  # Branch
  br = branch
  brr = for-each-ref --sort="-committerdate" refs/heads --format='%(align:width=65)%(color:green)%(committerdate:short)%(color:reset) %(HEAD) %(color:bold yellow)%(refname:short)%(color:reset)%(end) %(contents:subject)' --color=always
  # Commit
  ci = commit
  # Clone
  cl = clone
  # Checkout
  co = checkout
  # Diff
  df = diff
  # Commit graph
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # List git aliases
  la = "!git config -l | grep alias | cut -c 7-"
  # List date, user
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=short
  # List message, user, files
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate --numstat
  # List message, user
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate
  st = status
	g = grep --break --heading --line-number
  # Preserve iws files when cleaning out a repo for build purposes
  cleanrepo = clean -xdf -e .idea -e TEST_FLAVOR -e local_pg_env.properties
	commend = commit --amend --no-edit
	ppg = push origin HEAD:refs/for/develop
[interactive]
  diffFilter = delta --color-only
[diff]
  colorMoved = default
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = nvim
  pager = delta
	excludesfile = /Users/bmarcaurele/.gitignore_global
	commitGraph = true
	precomposeUnicode = true
[push]
  default = current
[user]
	name = Brandon Marc-Aurele
	email = bmarcaurele@palantir.com
	signingkey = 33CB92BE6581A2C2
[github]
  user = bmarcaur
[rerere]
	enabled = true
[merge]
	conflictstyle = diff3
[grep]
	extendRegexp = true
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[http]
	cookiefile = /Users/bmarcaurele/.gitcookies
[pull]
	ff = only
[hub]
  host = github.palantir.build
[url "git@github.palantir.build:"]
  insteadOf = https://github.palantir.build/
[commit]
	gpgsign = true
[tag]
	forceSignAnnotated = true
	gpgsign = true
[delta]
  blame-code-style = syntax
  blame-palette = "#002b36" "#073642" "#004152" "#005266" "#00627A"

  hyperlinks = true
  light = false
  navigate = true
  syntax-theme = Solarized (dark)
  theme = Solarized (dark)
