[alias]
  # Ammend
  amend = commit --amend
  # Branch
  br = branch
  # Commit
  ci = commit
  # Clone
  cl = clone
  # Checkout
  co = checkout
  # Diff
  df = diff
  # Commit graph
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # List git aliases
  la = "!git config -l | grep alias | cut -c 7-"
  # List date, user
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=relative
  # List short date, user
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=short
  le = log --oneline --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate
  st = status
	g = grep --break --heading --line-number
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = code --wait
  pager = less -r
	excludesfile = /Users/bmarcaurele/.gitignore
[push]
  default = current
[user]
  name = Brandon Marc-Aurele
  email = bmarcaurele@palantir.com
[github]
  user = bmarcaur
[rerere]
	enabled = false
[merge]
	conflictstyle = diff3
[grep]
	extendRegexp = true
	lineNumber = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
